# Virtual environments
.venv/
venv/

# Preprocessing 2025 Methods
test_spec.py 
plot_npy.py
AGBS.py 
AMF.py 
one_day.py
computer_snr.py 


# Python 
__pycache__/
*.py[codz]

# macOS system files
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Data files
*.npy
*.csv
*.png

# Last semester functions to help
Prepro-F25/